@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Benkerley Stadium</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">the best stadium in the world.</a>.</p>
    <img src="..\..\image\nfl\nfl.png">
    
</div>


<div class="text-center">
    <h2 class="display-4">@Model.League.Name</h2>
</div>



